# Video pesanti (gestiti separatamente)
*.mov
*.avi

# File di backup e copie
*- Copy*
*- Copia*
old/

# Cartelle inutili al deploy
documentation/
html/assets/pcss/
psd/

# Sistema
Thumbs.db
.DS_Store
desktop.ini